$font-type: arial
$main-color: #0026C6
$second-color: #5c5c5c
$card-color: #f2f2f2
$card-shadow: 0px 0px 10px 0px rgba(92,92,92,0.4)


.thankyou
    height: 100%
    width: 100%
    background: $card-color
    border-radius: 30px 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    overflow: hidden

.thankyou-title
    width: 90%
    height: 15%
    display: flex
    justify-content: flex-end
    align-items: flex-end
    font-size: 30px
    font-family: sans-serif
    font-weight: bold
    color: $main-color
    cursor: pointer

.thankyou-body
    width: 100%
    height: 70%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.thankyou-body > h1
    font-weight: bold
    color: $main-color
    font-family: arial
    text-align: center
    font-size: calc(90px + (100 - 90) * ((100vw - 1450px) / (1800 - 1450)))

.thankyou-body > h2
    color: $second-color
    font-family: arial
    text-align: center
    width: 70%
    font-size: calc(35px + (40 - 35) * ((100vw - 1450px) / (1800 - 1450)))
    

@media screen and (max-width: 900px)
    .thankyou